body{
	display:inline-block;
	margin:5% 8%;
	border:0.8vw solid MidnightBlue;
	padding-left:5%;
	padding-right:5%;	
	overflow:auto;
	width:70%;
	
    }

div.row{
		display:block;
		float:left;
	}
	

h3{
	color:#003399;
	text-align:left;
	font-size:1.5vw;
	text-decoration:underline;
  }

ul {    color:#003399;
	text-align:left;
      	padding:0%;
	list-style-type:circle;
	font-size:1.5vw;
   }


button{ 
	
	padding: 0.2vw 0.5vw;
	border-radius:2px;
	background-color:grey;
	color: white;
	font-size:1vw;
	text-align: center;
  	display: inline;
  	
	
			
	 }

button:hover{
	
	color:rgb(200,200,200);
	    } 

@media only screen and  (max-width:500px){

button{ 
	font-size:2.25vw;	
  	}

ul {    
	font-size:2.75vw;
   }

h3{
	font-size:2.75vw;
  }
					}

@media only screen and  (min-width:501px) and (max-width:750px) {

button{ 
	font-size:1.5vw;	
  	}

ul {    
	font-size:2vw;
   }

h3{
	font-size:2vw;
  }
					}